body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

header img {
    width: 290px;
    height: auto;
}

header h1 {
    font-size: 24px;
    color: #00551e;
    margin: 0;
}

.consulta-container {
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.consulta-container h2 {
    color: #00551e;
}

.consulta-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.consulta-container a {
    color: #00551e;
    text-decoration: none;
}

.consulta-container a:hover {
    text-decoration: underline;
}

button {
    background-color: #00551e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px auto; 
    display: block;
}



button:hover {
    background-color: #003f15;
}

footer {
    text-align: center;
    background-color: #00551e;
    color: #ffffff;
    padding: 10px;
    margin-top: 30px;
}

footer p {
    margin: 5px 0;
}

footer address {
    font-style: normal;
    font-size: 14px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

table th {
    background-color: #00551e;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}