* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 230px;
    margin-right: 10px;
}

header h1 {
    font-size: 1.5em;
    color: #007b5f;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007b5f;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.consulta {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.consulta h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007b5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f47;
}

.captcha {
    display: flex;
    align-items: center;
    gap: 10px;
}

.captcha img {
    height: 50px;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ccc;
}

.footer-info {
    margin-bottom: 20px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-logos img {
    height: 50px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        justify-content: center;
        gap: 10px; /* Reduce the gap between links */
    }

    header img {
        margin-bottom: 10px; /* Add space below the logo */
    }

    button {
        padding: 12px 24px; /* Reduce button size */
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header nav {
        flex-direction: column;
        gap: 5px;
    }

    button {
        width: 100%; /* Make buttons full-width for small screens */
        padding: 10px;
        font-size: 12px;
    }
}
